<ul class="pagination">
    <li ng-if="::boundaryLinks"
        ng-class="{disabled: noPrevious()}"
        class="pagination-first">
        <a href ng-click="selectPage(1, $event)">{{::getText('first')}}</a>
    </li>

    <li ng-if="::directionLinks"
        ng-class="{disabled: noPrevious()}"
        class="pagination-prev">
        <a href ng-click="selectPage(cripGridPagination.page - 1, $event)">{{::getText('previous')}}</a>
    </li>

    <li ng-repeat="page in pages"
        ng-class="{active: page.active}"
        class="pagination-page">
        <a href ng-click="selectPage(page.number, $event)">{{page.text}}</a>
    </li>

    <li ng-if="::directionLinks"
        ng-class="{disabled: noNext()}"
        class="pagination-next">
        <a href ng-click="selectPage(cripGridPagination.page + 1, $event)">{{::getText('next')}}</a>
    </li>

    <li ng-if="::boundaryLinks"
        ng-class="{disabled: noNext()}"
        class="pagination-last">
        <a href ng-click="selectPage(cripGridPagination.totalPages, $event)">{{::getText('last')}}</a>
    </li>
</ul>